# Database Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Database Connection String
DATABASE_URL=mysql+pymysql://:@mysql-db:3306/sales_db

# Environment (development/production)
# In production, API docs are disabled
ENVIRONMENT=development

# JWT Configuration
JWT_SECRET_KEY=your-secure-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=